{% extends 'guest_base.html' %}
{% block body %}
<div class="container">

    {% if messages %}
      <ul class="list-unstyled">
        {% for message in messages %}
            <li class="alert alert-{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <h2>Log In</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    </br>
    <p>or</p>
    <a href="{% url 'social:begin' 'github' %}" class="btn btn-outline-secondary btn-sm btn-lg btn-block">
        Login with GitHub</a>
    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-outline-secondary btn-sm btn-block">
        Login with Google</a>
</div>
{% endblock %}