{% extends 'base.html' %}
{% block body %}
<div class="container">
    <h1>Profile</h1>
    <img src="{{ profile_owner.userprofile.avatar_url }}" width="240" alt="profile_image">
    <p>Username: {{ profile_owner.userprofile }}</p>
    <p>Bio: {{ profile_owner.userprofile.bio }}</p>

    <div id="follow_wrapper">
        {% include 'account/follow_section.html' %}
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $(document).on('click','.follow-button', function(){
            var csrftoken = $('[name=csrfmiddlewaretoken]').val();
            var profile_owner_id = $(this).attr("value");
            var django_url = "{% url 'follow-user' 1 %}";
            var url = django_url.replace('1', profile_owner_id);
            $.ajax(
            {
                type: "POST",
                url: url,
                data:{
                    'profile_owner_id': profile_owner_id,
                    'csrfmiddlewaretoken': csrftoken,
                },
                dataType: 'json',
                success: function(response){
                    $("#follow_wrapper").html(response['html']);
                },
                error: function (xhr) {
                    alert("An error occurred: " + xhr.status + " " + xhr.statusText);
                }
             })
        })
       });
</script>

{% endblock %}