{% extends 'base.html' %}
{% block body %}
<div class="container">
    <h1>Posts</h1>
    <ul>
        {% for post in post_list %}
        <li>
            <a href="{% url 'post-details' post.pk %}">{{ post.title }}</a> {{ post.userprofile }}<br>
            {{ post.body }}
            <br/>
             {% for image in post.post_images %}
                <img src="{{ image.image.url }}" class="img-thumbnail" height="100" width="100" alt="post_image">
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}