{% extends 'base.html' %}
{% block javascript %}
<script type="text/javascript">
    $(document).ready(function(){
        $('.like-button').click(function(event){
            console.log('works');
            var postid = $(this button:first).attr("value");
            var form_url = "{% url 'like_post' postid %}"
            $.ajax(
            {
                type: "POST",
                url: form_url,
                data:{
                         'post_id': postid,

                },
                dataType: 'json',
                success: function(result, status){
                    alert("result: " + result + "\nStatus: " + status);
                }
                error: function (xhr) {
                    alert("An error occured: " + xhr.status + " " + xhr.statusText);
                }
             })
        })
       });
</script>
{% endblock %}