<div class="container">
    {% csrf_token %}
    {% if liked_status|get_value:post.id %}
        <button name="post_id" value="{{ post.id }}"
                class="btn btn-outline-danger btn-sm like-button">Unlike</button>
        <small>{{ post.total_likes }} like(s)</small>
    {% else %}
        <button name="post_id" value="{{ post.id }}"
                class="btn btn-outline-primary btn-sm like-button">Like</button>
        <small>{{ post.total_likes }} like(s)</small>
    {% endif %}
</div>