{% extends 'base.html' %}
{% block body %}

<div class="container">
    <br/>
    <a href="{% url 'all-posts' %}" class="btn btn-outline-secondary btn-sm">Back</a>
    <br/>
    <h1>{{ post.title }}</h1>
    <a href="{% url 'view-profile' post.userprofile.user.pk %}"><small>{{ post.userprofile }}</small></a>
    <p><small>{{ post.date }}</small></p>
    {% for image in post.post_images  %}
        <img src="{{ image.image.url }}" height="400" alt="post_image" class="img-thumbnail">
        <br/>
    {% endfor %}

    <br/><br/>
    <p>{{ post.body }}</p>

    <p>
        <strong>Tags:</strong>
        {% for tag in post.tags.all %}
            <a href="{% url 'post_tag' tag.slug %}" class="btn btn-outline-secondary btn-sm active">
                {{tag.name}}
            </a>
        {% endfor %}
    </p>

    <div id="like_wrapper">
        {% include 'like_section.html' %}
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $(document).on('click','.like-button', function(){
            var csrftoken = $('[name=csrfmiddlewaretoken]').val();
            var postid = $(this).attr("value");
            var django_url = "{% url 'like_post' 1 %}";
            var url = django_url.replace('1', postid);
            $.ajax(
            {
                type: "POST",
                url: url,
                data:{
                    'csrfmiddlewaretoken': csrftoken,
                },
                dataType: 'json',
                success: function(response){
                    $("#like_wrapper").html(response['html']);
                },
                error: function (xhr) {
                    alert("An error occurred: " + xhr.status + " " + xhr.statusText);
                }
             })
        })
       });
</script>

{% endblock %}